<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>983255627165-fr4boqpjrfm2p6f6ahko2hrlup7b0ol6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983255627165-fr4boqpjrfm2p6f6ahko2hrlup7b0ol6</string>
	<key>API_KEY</key>
	<string>AIzaSyA7ERnhRVi1yW0jAHUTD_JQQLN9fYR0TR0</string>
	<key>GCM_SENDER_ID</key>
	<string>983255627165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.XiApps.QuizMe</string>
	<key>PROJECT_ID</key>
	<string>quizme-20770</string>
	<key>STORAGE_BUCKET</key>
	<string>quizme-20770.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983255627165:ios:9180d43aaf1360ec</string>
	<key>DATABASE_URL</key>
	<string>https://quizme-20770.firebaseio.com</string>
</dict>
</plist>